{% for name, int_details in interfaces.items() %}
{% if 'Vlan' in name and int_details['vlan_id'] is defined %}
vlan {{ int_details['vlan_id'] }}
   name {{ int_details['description'] }}
!
{% endif %}
interface {{ name }}
   description {{ int_details['description'] }}
   {% if int_details['ip_address'] is defined %}
   {% if 'Vlan' in name %}
   ip address {{ int_details['ip_address'] }}
   {% else %}
   {% if 'Management' not in name and 'Loopback' not in name %}
   no switchport
   {% endif %}
   ip address {{ int_details['ip_address'] }}
   {% endif %}
   {% endif %}
   {% if int_details['vlan'] is defined %}
   switchport mode access
   switchport access vlan {{ int_details['vlan'] }}
   {% endif %}
!
{% endfor %}